include README.md LICENSE
include requirements.txt
include src/dxfpy/py.typed
include src/dxfpy/resources/*.png
recursive-include src/dxfpy/acc *.hpp *.cpp *.h *.c *.pxd *.pyx
recursive-include tests *.py
recursive-include tests/data *
recursive-include integration_tests *.py
recursive-include integration_tests/data *
